<div class="availability-container">
  <h2>Selecciona un espacio</h2>
  <h3>Escoge un espacio de una de nuestras sedes.</h3>
  <form class="availability-container__form" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_LOCATION' | translate }}</mat-label>
        <input matInput formControlName="location" placeholder="Ej: Lima, Callao, etc">
      </mat-form-field>

      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_CAPACITY' | translate }}</mat-label>
        <input matInput formControlName="capacity" placeholder="Ej: 10">
      </mat-form-field>

      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="YYYY-MM-DD" [min]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_TIME' | translate }}</mat-label>
        <mat-select formControlName="time"  class="navbar__language-select__dropdown">
          <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="app__button app__button-secondary" [disabled]="(filteredSpacesLength$ | async) === 0">

        {{ 'EXPLORE.FILTER_CTA_BTN' | translate }}
        
        <mat-spinner class="availability-container__cta-spinner" *ngIf="loading$ | async" diameter="20" color="white"></mat-spinner>
        <span *ngIf="filteredSpacesLength$ | async as length">({{ length }})</span>
      </button>
    </form>
    <mat-grid-list *ngIf="showResults && (filteredSpacesLength$ | async) > 0" [cols]="gridCols" rowHeight="2:1" class="availability-container__form-grid-list">
      <div
        *ngFor="let space of filteredSpaces$ | async"
        class="availability-container__form-grid-tile"
      >
        <mat-card class="availability-container__form-grid-card">
          <mat-card-header>
            <mat-card-title class="availability-container__form-grid-card-title">{{ space.nombreSede }}</mat-card-title>
            <mat-card-subtitle class="availability-container__form-grid-card-subtitle"> Capacidad máx: {{ space.capacidad }} p.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button class="app__button app__button-primary" (click)="openBookingModal(space)">{{ 'USER.BOOK_NOW' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-list>
    <span *ngIf="showResults && (filteredSpacesLength$ | async) === 0" class="availability-container__form--empty">{{"No se encontró ningun espacio"}}</span>
  </div>