<div class="availability-container">
    <form class="availability-container__form" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_LOCATION' | translate }}</mat-label>
        <input matInput formControlName="location" placeholder="Ej: Sede Central">
      </mat-form-field>

      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_CAPACITY' | translate }}</mat-label>
        <input matInput formControlName="capacity" placeholder="Ej: 10">
      </mat-form-field>

      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="YYYY-MM-DD">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="availability-container__form-filter" appearance="outline">
        <mat-label>{{ 'EXPLORE.FILTER_TIME' | translate }}</mat-label>
        <mat-select formControlName="time"  class="navbar__language-select__dropdown">
          <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button [disabled]="(filteredSpacesLength$ | async) === 0">

        {{ 'EXPLORE.FILTER_CTA_BTN' | translate }}
        <div *ngIf="loading$ | async">
          <mat-spinner></mat-spinner>
        </div>
        <span *ngIf="filteredSpacesLength$ | async as length">({{ length }})</span>
      </button>
    </form>
    <mat-grid-list cols="3" rowHeight="2:1" class="availability-container__form-grid-list">
      <mat-grid-tile
        *ngFor="let space of filteredSpaces$ | async"
        class="space-card"
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ space.nombreSede }}</mat-card-title>
            <mat-card-subtitle>{{ space.capacidad }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ space.nombreSede }} - {{ space.capacidad }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">{{ 'USER.BOOK_NOW' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>