<div class="home-container">
    <!-- Hero Section -->
    <div class="home-container__hero">
      <div class="home-container__hero-left app__mat-card mat-card">
        <div class="home-container__hero-left-text">
          <h1 class="home-container__hero-left-title">{{ 'HOME.HERO_TITLE' | translate }}</h1>
          <p class="home-container__hero-left-description">{{ 'HOME.HERO_DESCRIPTION' | translate }}</p>
          <div class="home-container__cta">
          <button class="app__button app__button-primary" [routerLink]="['/explore-availability']">{{ 'HOME.BOOK_NOW_CTA' | translate }}</button>
          <button class="app__button app__button-secondary" [routerLink]="['/booking']">{{ 'HOME.CHECK_BOOKING_CTA' | translate }}</button>
        </div>
        </div>
      </div>
      <!-- Service Section -->
    <div class="home-container__hero-right">
      <div class="home-container__service">
      <img src="assets/images/hero_image.png" alt="Logo de la Aplicación" class="app__logo" />
      <div class="home-container__service-card">
        <div class="home-container__service-card-row">
          <div class="home-container__service-card-icon">1</div>
          <div class="home-container__service-card-title">{{ 'HOME.SERVICE_FLEXIBLE' | translate }}</div>
        </div>
        <div class="home-container__service-card-row">
          <div class="home-container__service-card-icon">2</div>
          <div class="home-container__service-card-title">{{ 'HOME.SERVICE_AMENITIES' | translate }}</div>
        </div>
        <div class="home-container__service-card-row">
          <div class="home-container__service-card-icon">3</div>
          <div class="home-container__service-card-title">{{ 'HOME.SERVICE_COMMUNITY' | translate }}</div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  