<div class="booking-modal">
<h2>{{ 'RESERVATION.TITLE' | translate }}</h2>
<h4>{{ 'RESERVATION.SUBTITLE' | translate }}</h4>

<mat-dialog-content>
  <div class="booking-modal__snackbar">{{data.nombreSede}} - {{data.capacidad}}p. {{'RESERVATION.DATE' | translate }}: {{data.date_formatted}}  </div>
  <form [formGroup]="reservationForm">
    <mat-form-field appearance="outline" class="booking-modal__form-field">
      <mat-label>{{ 'RESERVATION.EMAIL' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" placeholder="correo@ejemplo.com">
    </mat-form-field>
    <mat-form-field appearance="outline" class="booking-modal__form-field">
      <mat-label>{{ 'RESERVATION.DNI' | translate }}</mat-label>
      <input matInput formControlName="dni" placeholder="12345678">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="app__button app__button-light" mat-dialog-close>
    {{ 'RESERVATION.CANCEL_CTA' | translate }}
  </button>
  <button class="app__button app__button-secondary" (click)="confirmReservation()" [disabled]="!reservationForm.valid">{{ 'RESERVATION.RESERVE_CTA' | translate }}
  </button>
</mat-dialog-actions>
</div>